body{
 background-color: azure;
}

h1{
    color: crimson;
    text-align: center;
    font-weight: 900;
}
#NAME{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: underline;
}
h2{
    text-align: center;
    /*text-decoration: line-through;*/
}

/*input[type="text"]{
    
}*/

div.G1{
    color: darkslategray;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}
div.G2{
    color: darkviolet;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}
div.G3{
    color: cornflowerblue;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}

a{
    text-decoration: none;
}

p1{
    font-family: cursive;
    text-transform: capitalize;
}
p2{
    font-family: serif;
    text-transform: capitalize;
    font-size: 18px;
    /*text-indent: 30%;*/
    /*letter-spacing: 0px;*/
}



