div{
    width: 200px;
    height: 40px;
    background-color: aqua;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 1s;
    transition-timing-function: linear;
}

div:hover{
    width: 1400px;
    background-color: orange;
}