*{
    padding: 0px;
    margin:0px;
}

nav{
    height: 4rem;   
    padding: 40px;
    background-color: black;
    text-decoration: none;
    /*color:white;*/
    /*text-align: center;*/
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

body{
    background: red;
    /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2c/Pexels-pixabay-259280.jpg);*/
}

.nav-options{
    display: flex;
}

ul li {
    display: inline;
    text-decoration: none;
    font-weight: 400;
    color: white;
    margin: 20px;
    font-size: 20px;
}


ul li a{
    list-style: none;
    text-decoration: none;
    display: inline;
    color: var(--text-color);
    padding: 40px;
    transition: 0.3s;
}

li{
    display: inline;
}

h1{
    color: White;
}

ul li a:hover{
    color: lime;;
}