div{
    height: 200px;
    width: 200px;
    /*border: 2px solid black;*/
    background-color: aqua;
    animation-name: example;
    animation-delay: 1s;
    animation-duration: 10s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes example{
    0% {background-color: blueviolet;top:0px;left:0px}
    25% {background-color: brown;top: 250px;left: 250px}
    50% {background-color: chartreuse;top: 500px;left: 500px;}
    75% {background-color: crimson;top: 250px;left: 250px;}
    100% {background-color: azure;top: 0px;left: 0px}
}